PORT=3001

# Opcional: Configura tu SMTP por defecto si deseas enviar correos reales sin ingresar credenciales en la UI
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=tu-correo@gmail.com
# SMTP_PASS=tu-contraseña-de-aplicacion
# SMTP_FROM="PrettierMails <tu-correo@gmail.com>"
